body {
  background-color: rgb(83, 83, 83);
  color: rgb(214, 214, 214);
  font-family: sans-serif;
  font-size: 12px;
}

button {
  background-color: rgb(107, 107, 107);
  color: rgb(214, 214, 214);
  font-family: sans-serif;
  font-size: 12px;
  border: none;
}

body select {
  display: inline-block;
  padding: 2px 40px 2px 7px;
  max-width: 100%;
  height: auto;
  border: 1px solid rgb(94, 94, 94);
  border-radius: 0;
  /* background: url("https://image.ibb.co/iMeAJv/selectbox_arrow.png") right center no-repeat; */
  background: url("./chevron.png") 97% center no-repeat;
  background-color: rgb(69, 69, 69);
  color: rgb(214, 214, 214);
  font-size: 12px;
  line-height: 16px;
  -webkit-appearance: none;
}

/* body select.select_box option */
body select option {
  padding: 0 4px;
}
